.category_table{
    border: black solid 3px;
    display: flex;
    flex-direction: column;
    border: none;
    list-style-type: none;
}


.category_table li{
    margin-top: 10px;
}

.category_table li a{
    text-decoration: none;
    color: black;
}

.category_table li a:hover{
    color: rgba(187, 169, 6, 0.925);
}